@font-face {
    font-family: "new-hero-regular";
    src: url(../fonts/Hero\ New\ Regular.otf) format("opentype");
  }
  @font-face {
    font-family: "new-hero-bold";
    src: url(../fonts/Hero\ New\ Bold.otf) format("opentype");
  }