
$primary-midnight-100: #1D1C2F;
$primary-midnight-50: #5B70FF;
$secondary-sea-50: #6D64FF;
$secondary-dandelion-100: #FFB71B;
$secondary-sunset-100: #FF595A;
$secondary-mint-100: #60EDCE;
$light-grey: #6F7378;
$white: #ffffff;
