@import '../../assets/styles/global.scss';

label {
    display: inherit;
    font-family: "new-hero-bold";
}
.emailError {
    position: relative;
    top: -20px;
    right: -10px;
}
.required {
    color: $secondary-sunset-100;
}
.submit {
    background-color: $primary-midnight-50;
    color: $white;
}
.cancel {
    background-color: $secondary-sunset-100;
    color: $white;
}
.action-icon {
    font-size: 20px;
    position: relative;
    top: -1px;
}
.profile-img {
    height: 55px;
}
.modal-header {
    font-size: 22px;
    margin-bottom: 5px;
}
.heading-divider {
    margin-bottom:15px;
}
.delete-text {
    color: $light-grey;
    margin-bottom: 20px;
}
.verticalDivider {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #1D1C2F;
    height: 16px;
}
.delete-profile {
    color: $primary-midnight-100;
    background-color: #f4f4f6;
    border-radius: 15px;
    padding: 10px 0px 8px 8px;
    margin-bottom: 20px;
    word-break: break-word;
}
.name {
    color: $primary-midnight-50;
}
button:disabled {
    background-color: #f4f4f6;
 }
 input::placeholder {
  font-family: 'new-hero-regular' !important;
}

