<div >
    <div class="fxb">{{action}} User</div>
    <div mat-dialog-content>
        <div *ngIf="action != 'Delete'; else elseTemplate">
            <form #userForm="ngForm"> 
                <label>Email<span class="required">*</span></label>
                <mat-form-field appearance="outline">
                    <input (keyup)="checkEmail($event)" 
                    required 
                    placeholder="{{action}} Email" 
                    name="email" 
                    matInput 
                    [(ngModel)]="local_data.email" 
                    #email="ngModel" 
                    email> 
                    <mat-error *ngIf="!email.valid">Enter a valid Email</mat-error> 
                    <mat-hint *ngIf="emailExists && action=='Add'">This email already exists</mat-hint> 
                </mat-form-field>
                
                <label>First Name<span class="required">*</span></label>
                <mat-form-field appearance="outline">
                    <input placeholder="{{action}} First Name"
                    required
                    name="firstName"
                    matInput 
                    [(ngModel)]="local_data.firstName" 
                    firstName 
                    #firstName="ngModel"> 
                    <mat-error *ngIf="!firstName.valid">First Name is Required</mat-error> 
                </mat-form-field>
                
                <label>Last Name<span class="required">*</span></label>
                <mat-form-field appearance="outline">
                    <input placeholder="{{action}} Last Name" 
                    required name="lastName" 
                    matInput 
                    [(ngModel)]="local_data.lastName" 
                    lastName 
                    #lastName="ngModel">
                    <mat-error *ngIf="!lastName.valid">Last Name is Required</mat-error> 
                </mat-form-field>
                
                <label>Role<span class="required">*</span></label>
                <mat-form-field appearance="outline">
                    <mat-select name="role" 
                    matInput 
                    [(ngModel)]="local_data.role" 
                    placeholder="Select A Role" 
                    role 
                    #role="ngModel" 
                    required>
                    <mat-option *ngFor="let role of roles" [value]="role.value">
                        {{role.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!role.valid">Role is Required</mat-error>
            </mat-form-field>
            
            <label>Status<span class="required">*</span></label>
            <mat-form-field appearance="outline">
                <mat-select 
                name="status" 
                matInput 
                [(ngModel)]="local_data.status" 
                placeholder="Select Status" 
                status 
                #status="ngModel" 
                required>
                <mat-option *ngFor="let status of statusOptions" [value]="status.value">
                    {{status.label}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="!status.valid">Status is Required</mat-error>
        </mat-form-field>
    </form>
</div>
<ng-template #elseTemplate>
    Sure to delete <b>{{local_data.name}}</b>?
</ng-template>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
    <div>
        <button mat-button (click)="doAction()" [disabled]="emailExists && action=='Add'" type="submit" class="submit">{{action}}
            <span class="material-symbols-outlined action-icon">
                {{action == "Add"? "add_circle": action == "Update" ? "update" : "delete"}}
            </span></button>
    </div>
    <div>
        <button mat-button (click)="closeDialog()" class="cancel">Cancel 
            <span class="material-symbols-outlined action-icon">
                cancel
            </span>
        </button>
    </div>
    
    
    </div>
    
</div>