@import '../../assets/styles/global.scss';

label {
    display: inherit;
    font-family: "new-hero-bold";
}
.emailError {
    position: relative;
    top: -20px;
    right: -10px;
}
.required {
    color: $secondary-sunset-100;
}
.submit {
    background-color: $primary-midnight-50;
    color: $white;
}
.cancel {
    background-color: $secondary-sunset-100;
    color: $white;
}
.action-icon {
    font-size: 20px;
    position: relative;
    top: -1px;
}